<div col-md-10 offset-md-1 class="mt-3">
    <div class="mat-elevation-z8">
        <table class="table" mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee S.No</th>
                <td mat-cell *matCellDef="let row; let i = index"> {{row.id}} </td>
            </ng-container>
            <ng-container matColumnDef="employeeName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name</th>
                <td mat-cell *matCellDef="let row"> {{row.employeeName}} </td>
            </ng-container>
            <ng-container matColumnDef="empId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee ID</th>
                <td mat-cell *matCellDef="let row"> {{row.empId}} </td>
            </ng-container>
            <ng-container matColumnDef="empEmail">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Email</th>
                <td mat-cell *matCellDef="let row"> {{row.empEmail}} </td>
            </ng-container>
            <ng-container matColumnDef="PhoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Number</th>
                <td mat-cell *matCellDef="let row"> {{row.PhoneNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
                <td mat-cell *matCellDef="let row">   <button mat-raised-button class="mt-1"   (click)="edit(row?.id)" color="accent">
                        <mat-icon> open_in_new</mat-icon>
                    </button> </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
                <td mat-cell *matCellDef="let row">   <button type="button" class="mt-1" (click)="delete(row?.id)" mat-raised-button color="warn">
                        <mat-icon>delete</mat-icon>
                    </button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="logData(row)" [id] = "editId" *matRowDef="let row; columns:displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons ></mat-paginator>
    </div>
</div>




<!-- model -->
<!-- <div *ngIf="row?.id" >
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
          <form [formGroup]="profile">
            <mat-form-field class="width mt-2 " appearance="outline" floatLabel="auto">
                <mat-label>EmpID:</mat-label>
                <input type="text" formControlName="empid" matInput required>
            </mat-form-field>
            <br>

            <mat-form-field class="width" appearance="outline">
                <mat-label>Name:</mat-label>
                <input type="text" formControlName="name" matInput required>
            </mat-form-field>
            <br>

            <mat-form-field class="width" appearance="outline">
                <mat-label>Email:</mat-label>
                <input type="email" formControlName="email" matInput required>
            </mat-form-field>
            <br>

            <mat-form-field class="width" appearance="outline">
                <mat-label>Phone Number:</mat-label>
                <input type="number" formControlName="number" matInput required>
            </mat-form-field>
            <br>

        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div> -->




















