<!-- <p>stock-data works!</p> -->

<input #queryDate type="date"  class="form-control"  placeholder="enter date">
<button type="submit" (click) = "getStock(queryDate.valueAsDate)" class="form-control"> submit</button>







<!-- <table class="table"  >
  <tr>
    <th>Date</th>
    <th>Open</th>
    <th>High</th>
    <th>Low</th>
    <th>Close</th>
  </tr>
  <tr *ngFor = "let data of stockData">
    <td> {{data.date}} </td>
    <td> {{data.open}} </td>
    <td> {{data.high}} </td>
    <td> {{data.low}} </td>
    <td> {{data.close}} </td>
  </tr>



</table> -->

