<!-- <mat-toolbar class="nav-bar">
    <div class="ms-auto">
        <mat-button-toggle-group class="theme-Options" name="theme-Options" aria-label="theme-Options">
            <mat-button-toggle (click)="setTheme('theme-light')">light</mat-button-toggle>
            <mat-button-toggle (click)="setTheme('theme-dark')">Dark</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-slide-toggle [(ngModel)]="isChecked">Slide Toggle Checked: {{isChecked}}</mat-slide-toggle>
    </div>
</mat-toolbar> -->


<div class="wrapper" id="{{storedTheme}}">
    <div class="row">
        <div class="col-md-3 mt-2 mb-3 ml-1 " *ngFor="let product of products">
            <div class="card">
                <img [src]="product.productImageURL" [alt]="product.productName" height="200px" width="100%">
                <div class="card-body">
                    <div class="product">
                        {{ product.productName }}
                    </div>
                    <div class="productPrice">
                        {{ product.productPrice | currency : 'INR' }}
                    </div>
                </div>
            </div>
        </div>
    </div>